<div>
    <h1>Fetch Detail</h1>
</div>

<form >
    <label for="product">Products</label>
    <select name="product" id="product">
      <option value="Product1">Product1</option>
      <option value="Product2">Product1</option>
      <option value="Product3">Product1</option>
      <option value="Product4">Product1</option>
      
    </select>
  
    <button>Get</button>
  </form>
<div><label>Short Description: <span> product description</span></label></div>
  
 <div class="row">
    <div class="col"><label for="product-name">Product Name</label></div>
    <div class="col"><label for="product-name">Product Name</label></div>

 </div>
 <div class="row">
    <div class="col"><label for="short-desc">Short description</label></div>
    <div class="col"><label for="short-desc">Short description</label></div>
 </div>
 <div class="row">
    <div class="col"><label for="detail-desc">Detail description</label></div>
    <div class="col"><label for="detail-desc">Detail description</label></div>
 </div>
 <div class="row">
    <div class="col"><label for="category">Category</label></div>
    <div class="col"><label for="category">Category</label></div>
 </div>
 <div class="row">
    <div class="col"><label for="starting-price">Starting Price</label></div>
    <div class="col"><label for="starting-price">Starting Price</label></div>
 </div>
 <div class="row">
    <div class="col"><label for="starting-price">Bid End Date</label></div>
    <div class="col"><label for="starting-price">Bid End Date</label></div>
   
  </div>
 