


<form >
    <label for="product">Products</label>
    <select name="product" id="product" class="form-control" [(ngModel)]="selectedProduct" (ngModelChange)="onChange($event)" >
      <option *ngFor="let prod of products"  [value]="prod">{{prod.productName}}</option>
    </select>
  
    <button (click)="getButtonClick()">Get</button>
  </form>
  <p>{{product.productName}}</p>
 <p>{{selectedProduct}}</p>
 
  <mat-grid-list cols="2" rowWidth="60px" rowHeight="20px">
    <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'grey'">Product Name</mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'grey'">{{product.productName}}</mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'grey'">Short description</mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'grey'">{{product.shortDescription}}</mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'grey'">Detail description</mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'grey'">{{product.detailDescription}}</mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'grey'">Category</mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'grey'">{{product.category}}</mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'grey'">Starting Price</mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'grey'">{{product.startingPrice}}</mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'grey'">Bid End Date</mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'grey'">{{product.bidEndDate}}</mat-grid-tile>
  </mat-grid-list>
  
