

<form >
    <label for="product">Products</label>
    <select name="product" id="product" class="form-control">
      <option *ngFor="let prod of products"  [value]="prod.productId">{{prod.productName}}</option>
    </select>
  
    <button>Get</button>
  </form>
 
  <mat-grid-list cols="2" rowWidth="60px" rowHeight="20px">
    <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'grey'">Product Name</mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'grey'">item 2</mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'grey'">Short description</mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'grey'">Item 4</mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'grey'">Detail description</mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'grey'">Item 6</mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'grey'">Category</mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'grey'">Item 8</mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'grey'">Starting Price</mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'grey'">Item 10</mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'grey'">Bid End Date</mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'grey'">12</mat-grid-tile>
  </mat-grid-list>
